/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/pressreleases/PressReleases.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.PressReleases_container__plpZH {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .PressReleases_pageTitle__iZMr6 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .PressReleases_countrySelector__qAsI2 {
    margin-bottom: 20px;
  }
  
  .PressReleases_select__1z2Su {
    margin-left: 10px;
    padding: 5px;
    font-size: 1em;
  }
  
  .PressReleases_list__4Isay {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .PressReleases_release__io1Vc {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background-color: #f9f9f9;
  }
  
  .PressReleases_content__0_c4u {
    flex: 1 1;
    padding-right: 20px;
  }
  
  .PressReleases_title__xMlsb {
    font-size: 1.5em;
    color: #444;
    margin-bottom: 10px;
  }
  
  .PressReleases_date__cOgKy {
    font-style: italic;
    color: #666;
    margin-bottom: 10px;
  }
  
  .PressReleases_text__k6Dhb {
    line-height: 1.6;
  }
  
  .PressReleases_downloadContainer__qE12n {
    display: flex;
    align-items: center;
  }
  
  .PressReleases_downloadButton__Lavqh {
    display: inline-block;
    padding: 10px 15px;
    background-color: #1c831c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
  }
  
  .PressReleases_downloadButton__Lavqh:hover {
    background-color: #4cae4c;
  }
  
  @media (max-width: 600px) {
    .PressReleases_release__io1Vc {
      flex-direction: column;
    }
  
    .PressReleases_content__0_c4u {
      padding-right: 0;
      margin-bottom: 15px;
    }
  
    .PressReleases_downloadContainer__qE12n {
      width: 100%;
      justify-content: center;
    }
  }
  
  
