/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./styles/FAQpage.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.FAQpage_faqPage__EHzoK {
    display: flex;
    margin: 0 auto;
    max-width: 1600px;
    padding: 20px;
    padding-bottom: 40rem;
    gap: 20px;
  }
  
  .FAQpage_faqSidebar__qRP7E {
    width: 600px;
    flex-shrink: 0;
  }
  
  .FAQpage_faqContent__qzJ3p {
    flex-grow: 1;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .FAQpage_faqSearch__DZxyI {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
  }
  
  .FAQpage_faqNav__dQ5js {
    display: flex;
    flex-direction: column;
  }
  
  .FAQpage_faqNavItem__qSn4X {
    margin-bottom: 10px;
  }
  
  .FAQpage_faqNavButton__SWOky {
    width: 100%;
    padding: 10px;
    text-align: left;
    background: none;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: #333;
    border-left: 3px solid transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .FAQpage_faqNavButton__SWOky:hover,
  .FAQpage_faqNavButtonActive__6kkf8 {
    background-color: #f0f0f0;
    border-left-color: #007bff;
  }
  
  .FAQpage_faqChevron__gU7JY {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
  }
  
  .FAQpage_faqNavButtonActive__6kkf8 .FAQpage_faqChevron__gU7JY {
    transform: rotate(180deg);
  }
  
  .FAQpage_faqDropdown__z_fLP {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 5px;
  }
  
  .FAQpage_faqDropdownItem__xWIrY {
    padding: 5px 10px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    transition: all 0.3s ease;
  }
  
  .FAQpage_faqDropdownItem__xWIrY:hover,
  .FAQpage_faqDropdownItemHighlighted__oRslD {
    background-color: #e0e0e0;
    color: #007bff;
  }
  
  .FAQpage_faqDetail___7LX_ h2 {
    margin-top: 0;
    color: #007bff;
  }
  
  .FAQpage_faqPlaceholder__OcR_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #666;
    font-style: italic;
  }
  
  .FAQpage_mobileMenuToggle__nSwCa {
    display: none;
  }
  
  @media (max-width: 768px) {
    .FAQpage_faqPage__EHzoK {
      flex-direction: column;
      position: relative;
    }
  
    .FAQpage_faqSidebar__qRP7E {
      width: 100%;
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      background-color: #fff;
      z-index: 1000;
      transition: left 0.3s ease;
      overflow-y: auto;
    }
  
    .FAQpage_faqSidebarOpen__4svza {
      left: 0;
    }
  
    .FAQpage_mobileMenuToggle__nSwCa {
      display: block;
      position: fixed;
      z-index: 1002;
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      top: 60%;
      left: 85%;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
    }
  
    .FAQpage_mobileMenuToggleActive__3D6y6 {
      top: 20px;
      right: 20px;
      left: auto;
      transform: translate(0, 0);
    }
  
    .FAQpage_faqContent__qzJ3p {
      margin-top: 60px;
    }
  
    .FAQpage_faqSearch__DZxyI {
      margin-top: 60px;
    }
  }
  
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./styles/ClientFAQ.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.ClientFAQ_container___y7Ir {
    padding: 20px;
  }
  
  .ClientFAQ_title__Fb8Ib {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-size: 2.5rem;
  }
  
  .ClientFAQ_breadcrumbContainer__XTq5N {
    margin-bottom: 20px;
  }
  
  
