/* button.module.css */
.button {
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #1c831c;
    color: white;
    border: none;
    border-radius: 50%; /* Makes it circular */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    display: none; /* Default to hidden */
  }

  
  .chevron {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid white;
  }
  
  /* Show the button only on screens smaller than 768px (typical mobile breakpoint) */
  @media (max-width: 767px) {
    .button {
      display: flex;
    }
  }