/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/support/supportOrganizations.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.support-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.intro {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}

.org-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  gap: 20px;
}

.org-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack items vertically */
  justify-content: space-between; /* Push the link to the bottom */
}

.org-card:hover {
  transform: translateY(-5px);
}

.org-logo {
  padding: 1rem;
  width: 100%;
  height: 100px;
  object-fit: contain; /* Change to contain for better logo display */
  margin-bottom: 15px;
}

.org-card h4 {
  color: #444;
  margin-bottom: 10px;
}

.org-card p {
  color: #666;
  font-size: 14px;
  margin-bottom: auto; /* Allow description to take up remaining space */
}

.org-link {
  display: inline-block;
  margin-top: auto; /* Push this element to the bottom */
  padding: 8px 16px;
  background-color: #1c831c;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.org-link:hover {
  background-color: #4cae4c;
}

@media (max-width: 768px) {
  .org-grid {
      grid-template-columns: 1fr;
  }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/ScrollToTop.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
/* button.module.css */
.ScrollToTop_button__2GWZ9 {
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #1c831c;
    color: white;
    border: none;
    border-radius: 50%; /* Makes it circular */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    display: none; /* Default to hidden */
  }
  
  .ScrollToTop_button__2GWZ9:hover {
    background-color: #0056b3;
  }
  
  .ScrollToTop_chevron__9deCN {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid white;
  }
  
  /* Show the button only on screens smaller than 768px (typical mobile breakpoint) */
  @media (max-width: 767px) {
    .ScrollToTop_button__2GWZ9 {
      display: flex;
    }
  }
