/* styles/styles.css */

.news-container {
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    overflow: hidden;
    width: auto;
    min-width: 100%;
}

#scrollable-list {
    overflow: hidden;
}

.news-container .title {
    position: absolute;
    background-color: red;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bolder;
    z-index: 200;
    padding: 10px;
}

.title {
    height: auto;
}

.news-container ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

.news-container ul li {
    white-space: nowrap;
    padding: 10px 24px;
    color: black;
    position: relative;
}

.news-container ul li::after {
    content:"";
    width: 1px;
    height: 100%;
    background-color: #b8b8b8;
    position: absolute;
    top: 0;
    right: 0;
}

.news-container ul li a {
    color: red;
    white-space: nowrap;
}

.news-container ul li:last-child::after {
    display: none;
}

@media (max-width: 768px) {
    .news-container {
        display: none;
    }
    
}