/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/About.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
/* About.module.css */

.About_aboutSection__yJwVd {
    background-color: #465963;
    padding: 2rem 0;
}

.About_aboutContainer__XmYp8 {
    background-color: #465963;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.About_aboutContainer__XmYp8 h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fff;
}

.About_aboutContainer__XmYp8 p {
    font-size: 1.3em;
    color: #ffffff;
    font-weight: 900;
}

.About_email___E8Di {
    font-style: italic;
    margin: 30px auto;
    max-width: 700px;
    position: relative;
    background-color: #a4a4a4;
    padding: 20px;
    border-radius: 8px;
}

.About_email___E8Di p {
    margin-bottom: 10px;
    color: #2c3e50;
}

.About_section__fhW5H {
    margin-bottom: 30px;
    background-color: #d1d1d1;
    padding: 20px;
    border-radius: 5px;
  }
  
  .About_section__fhW5H h2 {
    color: #444;
    margin-bottom: 15px;
  }
  
  .About_section__fhW5H p {
    color: #434343;
    line-height: 1.6;
    font-size: 15px;
  }
  
